.poll {
    margin-top: 20px;
    color: #fff;
}
.poll .question {
    display: block;
    padding: 20px;
    font-weight: bold;
    letter-spacing: -3px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 40px;
}
.poll div {
    font-weight: bold;
    letter-spacing: -3px;
    background: #0099cc;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 34px;
    color: #ffffff;
    border-left: 20px solid #333;
    width: 400px;
    border-radius: 0 1.5em 1.5em 0;
}
.poll div a {
    border-radius: 0.3em;
    text-decoration: none;
    color: #0099cc;
    padding: 5px 15px;
    background: #333;
    margin: 0 20px;
}
.poll div a:hover {
    color: #fff;
}